{% extends "base.html" %}
{% block content %}

<h1>Orçamentos</h1>
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Client</th>
        <th>Address</th>
        <th>Comments</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for quotation in quotations %}
    <tr>
        <td><a href="{% url 'quotation_details' quotation.id %}">{{ quotation.id }}</a></td>
        <td>{{ quotation.client__name }}</td>
        <td>{{ quotation.address }}</td>
        <td>{{ quotation.comments }}</td>
        {% if quotation.status == "draft" %}
        <td class="table-cell-blue">{{ quotation.status }}</td>
        {% elif quotation.status == "sent" %}
        <td class="table-cell-yellow">{{ quotation.status }}</td>
        {% elif quotation.status == "approved" %}
        <td class="table-cell-green">{{ quotation.status }}</td>
        {% elif quotation.status == "rejected" %}
        <td class="table-cell-red">{{ quotation.status }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
