{% extends "base.html" %}
{% block content %}

    <h1>Client List</h1>
    <table class="table table-striped-columns table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Fiscal Name</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr style='cursor: pointer; cursor: hand;' onclick="window.location='{% url 'client_details' client.id %}';">
                <td>{{ client.client }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.fiscal_name }}</td>
                <td>{{ client.address_set.first.street }} {{ client.address_set.first.number }},
                    {{ client.address_set.first.city }}, {{ client.address_set.first.postal_code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}
