.table-cell-blue {
    background-color: #79aec8 !important;
}

.table-cell-yellow {
    background-color: #f5dd5d !important;
}

.table-cell-green {
    background-color: #006b1b !important;
}

.table-cell-red {
    background-color: #CC3434 !important;
}